 //to reset element-ui default css
.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

//element ui upload
.upload-container {
  .el-upload {
    width: 100%;
    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

/*menu-height,font-size*/
.el-menu-item{
  height: 45px;
  line-height: 45px;
  font-size: 13.5px;
}
.el-submenu .el-menu-item {
    height: 45px;
    line-height: 45px;
}
.el-submenu__title {
  height: 45px;
  line-height: 45px;
  font-size:13.5px;
}
/*tag padding*/
.el-tag{
  height: 25px;
  line-height: 25px;
}

/*table padding*/
.el-table th {
    padding: 8px 0;
}
.el-table td {
    padding: 6px 0;
}
.el-table {
  font-size: 13.5px;
}


.el-form-item__label {
  font-size: 13.5px;
}

.el-tree-node__label{
  font-size:13.5px;
}

